body {
    margin: 0;
}
div{
    width:100px;
    height:100px;
    background-color: blue;
}
.red-box{
    background-color: red;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
#green-box{
    background-color: green;
    width: 100vw;
    height: 50vh;
}